<center><p float="center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/4_RGB_McCombs_School_Brand_Branded.png" width="300" height="100"/>
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>

<h1><center><font size=8>Artificial Intelligence and Machine Learning</center></font></h1>
<h1><center>Python Foundations - Week 1</center></h1>
<center>Variables, Datatypes, Data Structures, Conditional Statements, Loops, Functions</center>

<center><img src="https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" width="1000" height="600"></center>

<b><h2><center>Cred-Pay Case Study</center></h2></b>

## **Problem Definition**

### **Business Context**

**Cred-Pay** is a consultation firm that partners with banks and checks if their customers are eligible for a credit card. They are a startup just at the roots of starting their business. They have partnered with a few banks and are currently collecting data for credit card applications.


### **Objective**
You have been hired as a Data Scientist to handle and organize the data. You are responsible to organise the data so that, it will be easily accessible and help the company predict, if the application can be accepted for a credit card or not.

#### **Solution Approach**
You have tried to understand how the credit card works and what all factors come into play. You can organize the data so that the company can help banks to provide credit cards to the customers. You have considered some features related to credit card applications. Some of them are Customer ID, Credit score, age of customer, debt status, and the number of existing credit cards.

Following is the data that you have extracted and listed down, Let's try to build it into data that can be easily accessible and we can gain some insights from it.

| cid | credit_score | age_of_customer | debt_status| no_of_existing_credit_cards|
| --- | --- | --- | --- | --- |
| cid-0001 | 650 | 25 | in-debt | 3 |
| cid-0002 | 723 | 28 | no debt | 2 |
| cid-0003 | 581 | 38 | no-debt | 4 |
| cid-0004 | 462 | 41 | in-debt | 1 |
| cid-0005 | 773 | 62 | no-debt | 2 |


## **1.0 Organizing data in appropriate format**

### **1.1 Storing customer details as variables**

Let's start with storing the information in the form of variables and try to work with them.

Let's try to create a variable to store a feature **customerid**

In [1]:
cid = 'cid-0001' #  a variable is created with name cid and a value is stored as cid-0001 in the variable
print('The Customer ID of the first customer is',cid) #to display the value of the variable or a statement

The Customer ID of the first customer is cid-0001

In [2]:
print(f'The Customer ID of the first customer is {cid}')

The Customer ID of the first customer is cid-0001

Well this works, let's save other customer id's in the same manner.

In [ ]:
# Creating multiple variables to store unique customer id
cid1 = 'cid-0001'
cid2 = 'cid-0002'
cid3 = 'cid-0003'
cid4 = 'cid-0004'
cid5 = 'cid-0005'

**What are Variables ?**

>Variables are used to store any type of data.
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
* Variable names are case-sensitive (age, Age and AGE are three different variables)

But if we proceed this way we will have to create multiple variables to store a single feature **(this is not an ideal way to store or access data)**


What if we try to store this data as a list ?

### **1.2 Organizing and querying the data**

**What is a List?**
> A list in Python is an ordered group of items or elements which are stored in a single variable.

**How do we define a list?**
> Lists are created using square brackets, and the elements are separated by commas.
```
list_name = [element1, element2,...., element_n]
```

In [3]:
cid = ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'] # elements of lists are seperated by comma

## Let's print the list to see if this works
print("Customer ID:",cid)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

* These work well and now we can store similar features by creating only single data element
* Let's create lists for Credit Score, Age of the Customer, Debt Status, and the number of active Credit Cards a customer uses.

In [7]:
credit_score = [650, 723, 581, 462, 773]   # list for storing credit score
age_of_customer = [25, 28, 38, 41, 62]     # list for storing age of the customer
debt_status = ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']  # list to store the debt status
no_of_existing_credit_cards = [3, 2, 4, 1, 2] # list to store the number of existing credit cards

In [8]:
#Let's print all the features stored as list
print("Customer ID:", cid)
print("Credit Score:", credit_score)
print("Age of Customer:", age_of_customer)
print("Debt Status:", debt_status)
print("Number of existing Credit Cards:", no_of_existing_credit_cards)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']
Credit Score: [650, 723, 581, 462, 773]
Age of Customer: [25, 28, 38, 41, 62]
Debt Status: ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
Number of existing Credit Cards: [3, 2, 4, 1, 2]

Great! now as the lists are created, let's try to fetch some data.

Let's say we want to get all the details of the customer whose id is "cid-0002"

**How are Lists indexed?**
> List items are ordered and their indexing starts from 0 from beginning.
Let's say the elements stored in the index are a, b, c and d. Then the index will be as follows.

![index.png]()

In [9]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [12]:
credit_score[2]

581

In [ ]:
## To get data of cid-0002 we need to first find the index of the same.
pos = cid.index('cid-0002') # index() is used to fetch the index of the value mentioned
print(pos)                  # Printing the index of 'cid-0002'

In [10]:
# how generalize to any customer id
choice = input(f'Please provide customer id from {cid}')
pos = cid.index(choice)
print(pos)

Please provide customer id from ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']cid-0003
2

In [13]:
## Now that we know the index, let's call the value stored at the index for all the lists.
print(cid[pos])
print(credit_score[pos])
print(age_of_customer[pos])
print(debt_status[pos])
print(no_of_existing_credit_cards[pos])

cid-0003
581
38
no-debt
4

Well, this is amazing, we can fetch the data in a much more organised manner.

We just received information that the debt status for cid-0001 needs to be changed as the customer is in debt now. Let's update the same in the list.

In [14]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [15]:
debt_status

['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

In [ ]:
# Steps
# 1. cid.index('cid-0001') -> 0
# 2. debt_status[0] = 'in-debt'
debt_status[cid.index("cid-0001")]= "in-debt"

In [16]:
idx = cid.index("cid-0001")
debt_status[idx] = "in-debt"

In [17]:
debt_status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

In [ ]:
#Let's first find the index of cid-0001
pos = cid.index('cid-0001')     #saving the index of cid-001 in pos

In [ ]:
#Let's assign the updated status
debt_status[pos] = 'in-debt'    #updating debt_status for the index variable pos

In [18]:
debt_status                     #printing the list of debt status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

Great! We can see that data updation is easy to do with lists.

### **1.3 Updating customer data based on conditions**

We recently got an update from Cred-Pay that we need to update the credit score of all users.
The Credit score is calculated based on 4 factors,

1.   Payment History(High impact)
2.   Credit Utilisation Ratio(High impact)
3.   Age of the Credit(Medium impact)
4.   Total Accounts(Low impact)

Since Payment History has a huge impact on the Credit Score we have to update the score based on the user's history of on-time payment.

For this, first, we have to create a list called **prec_on_time**, which stores the percentage of on-time payments done by the user. If a user's prec_on_time is **greater than 0.7**, then we have to increase their credit score by **2%**.

Let's also print the customerid for those, whose credit score will be updated. Let's try this out.

In [20]:
# Let's first create the list prec_on_time
# Assume that the below random numbers is the on-time payment percentage
prec_on_time = [0.62, 0.78, 0.20, 0.32, 0.85]
prec_on_time

[0.62, 0.78, 0.2, 0.32, 0.85]

In [21]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [22]:
credit_score

[650, 723, 581, 462, 773]

In [ ]:
prec_on_time

In [26]:
# evaluate prec_on_time using if -> > 0.7 then update credit_score
# loop through step 1 -> for each
for i in range(0, len(cid)):
  if prec_on_time[i] >= 0.7:
    credit_score[i] = round(credit_score[i]*1.02)
    print(f"credit score updated for {cid[i]} to {credit_score[i]}")
  else:
    print(f"credit score not updated for {cid[i]}")

credit score not updated for cid-0001
credit score updated for cid-0002 to 752
credit score not updated for cid-0003
credit score not updated for cid-0004
credit score updated for cid-0005 to 804

In [27]:
credit_score

[650, 752, 581, 462, 804]

In [29]:
# enumerate -> index and value
for i, value in enumerate(prec_on_time):
  if value >= 0.7:
    credit_score[i] = round(credit_score[i]*1.02)
    print(f"credit score updated for {cid[i]} to {credit_score[i]}")
  else:
    print(f"credit score not updated for {cid[i]}")

credit score not updated for cid-0001
credit score updated for cid-0002 to 767
credit score not updated for cid-0003
credit score not updated for cid-0004
credit score updated for cid-0005 to 820

Now, since we want to increase the credit score by 2%, we will first check if the prec_on_time value is greater than 0.7. We can do this with the help of conditional statements.

**What are Conditional Statements?**

> Conditional statements are an important part of decision-making in Python. Results are generated for the satisfied condition.

**If Else Conditional Statement**

> The if-else statement in Python is used for decision-making. The general syntax of an if-else statement is:
```
 if (test expression):
    Body of if
 else:
    Body of else
 ```
>It contains a body of code which runs only when the condition given in the if statement is true. If the condition is false, then the optional else statement runs which contains some code for the else condition.

In [ ]:
credit_score

In [ ]:
if prec_on_time[0] > 0.7:
    credit_score[0] = round(credit_score[0] * 1.02)   #adding 2% will be equal to 1+0.02 = 1.02
    print('Credit Score updated for cid-0001')
else:
    print('Credit Score is same for cid-0001')

if prec_on_time[1]>0.7:
    credit_score[1] = round(credit_score[1] * 1.02)
    print('Credit Score updated for cid-0002')
else:
    print('Credit Score is same for cid-0002')

if prec_on_time[2]>0.7:
    credit_score[2] = round(credit_score[2] * 1.02)
    print('Credit Score updated for cid-0003')
else:
    print('Credit Score is same for cid-0003')

if prec_on_time[3]>0.7:
    credit_score[3] = round(credit_score[3] * 1.02)
    print('Credit Score updated for cid-0004')
else:
    print('Credit Score is same for cid-0004')

if prec_on_time[4]>0.7:
    credit_score[4] = round(credit_score[4] * 1.02)
    print('Credit Score updated for cid-0005')
else:
    print('Credit Score is same for cid-0005')

In [ ]:
credit_score

Great we can see the credit score is updated for cid-0002 and cid-0005. This worked since we had only 5 users but it will be very time consuming and repetitive if we have many users. We should find a better way of coding that allows us to iterate through the list more easily.

Let's say, we have to reduce the credit score for those users whose prec_on_time is less than 40% by 2%

To avoid repetition of code we will use Looping Statements

**What are Looping Statements?**

> Loops are used in Python to iterate over a sequence.

**What are the different types of loops in Python?**

*   For Loop
*   While Loop

**For Loop**

The syntax of the 'for loop' is:

```
for iterator_var in sequence:
    statements(s)
```
**While Loop**
The syntax of the 'for loop' is:
```
while condition:
    statement(s)
```

We will use for loop in this case

In [ ]:
# Let's say, we have to reduce the credit score for those users whose prec_on_time is less than 40% by 2%

In [30]:
# Any issue with code below ??
for i in range(0,len(cid)):
    if prec_on_time[i] <0.4:
        credit_score[i] = round(credit_score[i] * .98)   #subtracting 2% will be equal to 1-0.02 = 0.98
        print('Credit Score updated for',cid[i])
    else:
        print('Credit Score is same for',cid[i])

Credit Score is same for cid-0001
Credit Score is same for cid-0002
Credit Score updated for cid-0003
Credit Score updated for cid-0004
Credit Score is same for cid-0005

In [ ]:
credit_score

Amazing we are now able to run loops and even check conditions with minimal amount of code.

Let's try playing with the data a few more times.

**Let's find out how many people have credit score greater than 700?**

In [31]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [32]:
credit_score # 2

[650, 767, 569, 453, 820]

In [ ]:
# 1. loop through credit score
# 2. evaluate value > 700
# 3.     update counter

In [33]:
counter=0
for i in range(len(cid)):
  if credit_score[i] >= 700:
    counter = counter + 1
print(f"Number of customers with credit > 700 is {counter}")

Number of customers with credit > 700 is 2

In [ ]:
# Initialize counter to increment the customer count
count = 0

for i in range(0,len(cid)):
    if credit_score[i]>700:
        count +=1 # Incrementing count counter by 1 when the credit score is greater than 700

print('Number of people having credit score greater than 700:',count)

**Can we check How many people have more than 2 credit cards?**

In [34]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [35]:
no_of_existing_credit_cards

[3, 2, 4, 1, 2]

In [ ]:
# Initialize counter to increment the customer count
count = 0

for i in range(0,len(cid)):
     if no_of_existing_credit_cards[i]>2:
        count +=1 # Incrementing count counter by 1 when number of credit cards are greater than 2
print('Number of people having more than 2 credit cards:',count)

**Can we count how many people are in debt and how many are in not debt ?**

In [36]:
cid

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [37]:
debt_status # How check debt ??

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

In [40]:
set(debt_status)

{'in-debt', 'no-debt'}

In [ ]:
# loop through cid
# == (boolean)
# update counter -> 2

In [39]:
in_debt=0
no_debt=0

for i in range(len(cid)):
  if debt_status[i] == "in-debt":
    in_debt = in_debt+1
  else:
    no_debt=no_debt+1
print(in_debt)
print(no_debt)

2
3

In [42]:
# Initialize counters to increment in-debt and not in debt customer counts
indebt = 0
nodebt = 0

for i in range(0,len(cid)):
    if debt_status[i]=='in-debt':
        indebt+=1   # Incrementing indebt counter by 1 when the customer is in debt
    else:
        nodebt+=1   # Incrementing nodebt counter by 1 when the customer is not in debt
# Printing the number of people in-debt and not in debt
print('Number of people in debt :',indebt)
print('Number of people with no debt ',nodebt)

Number of people in debt : 2
Number of people with no debt  3

**Let's try to print all the information of customer whose customer id = cid-0002**

In [46]:
for i in range(0,len(cid)):
    if cid[i] == 'cid-0002': # cid.index('cid-0002')
        print('---------------------------------------------------------------------')
        print( 'Customer ID:',cid[i])
        print( 'Credit Score:',credit_score[i])
        print( 'Age of the Customer:',age_of_customer[i])
        print( 'Debt Status:',debt_status[i])
        print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])

---------------------------------------------------------------------
Customer ID: cid-0002
Credit Score: 767
Age of the Customer: 28
Debt Status: no-debt
Number of existing Credit Cards: 2

In [44]:
# How generalize above code to any customer ?
# define as function -> cid
# input
# logic -> index and then print values

def cust_details(cid_value):
  idx = cid.index(cid_value)
  print('---------------------------------------------------------------------')
  print( 'Customer ID:',cid[idx])
  print( 'Credit Score:',credit_score[idx])
  print( 'Age of the Customer:',age_of_customer[idx])
  print( 'Debt Status:',debt_status[idx])
  print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[idx])

In [45]:
choice = input(f"Please provide customer from cust list {cid}")
cust_details(choice)

Please provide customer from cust list ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']cid-0002
---------------------------------------------------------------------
Customer ID: cid-0002
Credit Score: 767
Age of the Customer: 28
Debt Status: no-debt
Number of existing Credit Cards: 2

### **1.4 Modular way of updating data**

Awesome! But if we have to check for any other user we will have to write the above code again, that will not be a very ideal way to write code.

We should try using a function.

**What is a Function in Python?**

>In Python, a function is a block of instructions that performs a specific task.

**Why to use Functions?**
>Functions break the program into modular chunks which can be reused later. Functions are used to make the program more organized and manageable.

**How do we create a Function?**

The syntax for the function is:
```
def function_name(parameters):
	statement(s)
  return statement
```
An optional return statement is used to return value(s) from the function.

**What are parameters in Functions?**
>Parameters are variables through which we pass values to a function. Parameters are optional for function definition.

In [47]:
def customer_info(c_id): # def(keyword) is used to define a function followed by the function name and parameters
    for i in range(0,len(cid)): # setting up a for loop to iterate through all the customer id's
        if cid[i] == c_id:
            print('---------------------------------------------------------------------')
            print( 'Customer ID:',cid[i])
            print( 'Credit Score:',credit_score[i])
            print( 'Age of the Customer:',age_of_customer[i])
            print( 'Debt Status:',debt_status[i])
            print( 'Number of existing Credit Cards:',no_of_existing_credit_cards[i])

**Print the details of Customer whose id is 'cid-0001'**

In [48]:
customer_info('cid-0001') # Calling the above defined function

---------------------------------------------------------------------
Customer ID: cid-0001
Credit Score: 650
Age of the Customer: 25
Debt Status: in-debt
Number of existing Credit Cards: 3

**Print the details of Customer whose id is 'cid-0002'**

In [49]:
customer_info('cid-0003')

---------------------------------------------------------------------
Customer ID: cid-0003
Credit Score: 569
Age of the Customer: 38
Debt Status: no-debt
Number of existing Credit Cards: 4

### **1.5 Combining all the data into a single data element**

Amazing! Now we are able to fetch data with a single command.

But as you can see the data is currently segregated into different lists. We are just calling all the lists to fetch the data. In other words, all the lists are independent and we are fetching data by matching the index. We need to club the data into one single structure.

Let's try to combine these into a dictionaries.

**What is a Dictionary?**
>Dictionaries are used to store data values in key:value pairs.

**What's so special about Dictionary?**
>Dictionary items are ordered, changeable, and does not allow duplicates.

**How to declare a Dictionary?**
>Syntax for the dictionary is:
> ```
 dictionary = {'key1':value1,'key2':value2,...,'key_n':value_n}
```

In [50]:
# dictionary is created with key and value pairs
df1 = {
    'cust_id': cid,
    'cred_score': credit_score,
    'age': age_of_customer,
    'debt_status':debt_status,
    'curr_cred_cards':no_of_existing_credit_cards
}

In [51]:
df1 # printing the dictionary

{'cust_id': ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'],
 'cred_score': [650, 767, 569, 453, 820],
 'age': [25, 28, 38, 41, 62],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_cred_cards': [3, 2, 4, 1, 2]}

**How to access any value from dictionary?**
>Any value of Dictionary can be accessed by calling the key value
```
dictionary['key']
```

In [52]:
df1['cust_id'] # fetch all the values under the key 'cust_id'

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [53]:
df1['cust_id'][2] # to fetch the 3rd element in the list 'cust_id'

'cid-0003'

In [54]:
df1['unknown_key']

KeyError: 'unknown_key'

In [56]:
df1.get('unknown_key','missing')

'missing'

**Let's get all the information for the Customer whose id is 'cid-0004'**

We can do this by iterating the index for a fixed list index. We can achieve that with **items()** method.

In [57]:
df1.keys()

dict_keys(['cust_id', 'cred_score', 'age', 'debt_status', 'curr_cred_cards'])

In [58]:
df1.values()

dict_values([['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'], [650, 767, 569, 453, 820], [25, 28, 38, 41, 62], ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'], [3, 2, 4, 1, 2]])

In [59]:
df1.items()

dict_items([('cust_id', ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']), ('cred_score', [650, 767, 569, 453, 820]), ('age', [25, 28, 38, 41, 62]), ('debt_status', ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']), ('curr_cred_cards', [3, 2, 4, 1, 2])])

In [61]:
for key, value in df1.items():
  print(key)
  print(value[3])

cust_id
cid-0004
cred_score
453
age
41
debt_status
in-debt
curr_cred_cards
1

In [62]:
for key, value in df1.items():  # Iterating through all the keys of dictionary, with values index as constant
    print(key ,value[3])

cust_id cid-0004
cred_score 453
age 41
debt_status in-debt
curr_cred_cards 1

In [63]:
df1

{'cust_id': ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'],
 'cred_score': [650, 767, 569, 453, 820],
 'age': [25, 28, 38, 41, 62],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_cred_cards': [3, 2, 4, 1, 2]}

Dictionaries are working well for fetching the existing data, but conditional data pulling will be difficult to achieve in this case.

If only we had a better way to organize data where it will be organized, systematic, and easy to perform all the operations that we did above.

We can do that by using some libraries which can do all these operations with a single piece of code. Libraries in python contain precompiled codes that can be used for defined operations. They make python programming simpler, as you don't have to create the same functions again and again when you work on a new project. These libraries are readily available and can be called upon by importing the library to the notebook.

So in this case we will create a dataframe, But for that, we need to import pandas (a library used for data analysis and manipulation)

## **2.0 Getting data into a convenient structure**

**What is the Pandas Library?**

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tools using its powerful data structures. It is fast, flexible, and expressive data structure designed to make working with 'numerical' or 'categorical' data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

**Why do we use Pandas?**
- Used for analyzing, cleaning, exploring, and manipulating data.

- Pandas allows us to analyze big data and make conclusions.

- It is an important library in data science to get insights from data
<img src="https://www.w3resource.com/w3r_images/pandas-data-structure.svg" />

### **2.1 Converting the dictionary into a pandas dataframe**

Let us start by importing the required libraries

In [64]:
# Installing the libraries with the specified version.
!pip install pandas==1.5.3 -q --user

    12.1/12.1 MB 88.2 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.10.1 requires pandas<2.2.3dev0,>=2.0, but you have pandas 1.5.3 which is incompatible.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 1.5.3 which is incompatible.
mizani 0.11.4 requires pandas>=2.1.0, but you have pandas 1.5.3 which is incompatible.
plotnine 0.13.6 requires pandas<3.0.0,>=2.1.0, but you have pandas 1.5.3 which is incompatible.
xarray 2024.9.0 requires pandas>=2.1, but you have pandas 1.5.3 which is incompatible.

**Note**: *After running the above cell, kindly restart the notebook kernel and run all cells sequentially from the start again.*

In [66]:
# import is used to call upon any library that is installed in the system.
import pandas as pd  # anything after 'as' will become an alias for the library name

 Let's create a dataframe from the existing dictionary

In [67]:
# Dataframe can be created by using the function pd.Dataframe
df = pd.DataFrame(df1)

In [68]:
# Let's print the dataframe
df

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         767   28     no-debt                2
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         820   62     no-debt                2

Great! This look much better and looks organized, and along with this dataset created we can find a lot's of insights about the data with ease.

### **2.2 Accessing and analysing the data**

In [69]:
# let's print top 3 data entries
df.head(3) # without any value inside the brackets, it will print the top 5 entries of the data

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         767   28     no-debt                2
2  cid-0003         569   38     no-debt                4

In [70]:
# Let's print the last 3 data entries
df.tail(3) # without any value inside the brackets, it will print the last 5 entries of the data

    cust_id  cred_score  age debt_status  curr_cred_cards
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         820   62     no-debt                2

We can create statistical summary of data with ease.

In [71]:
# Let's create statistical summary
df.describe()

       cred_score        age  curr_cred_cards
count    5.000000   5.000000         5.000000
mean   651.800000  38.800000         2.400000
std    148.275757  14.584238         1.140175
min    453.000000  25.000000         1.000000
25%    569.000000  28.000000         2.000000
50%    650.000000  38.000000         2.000000
75%    767.000000  41.000000         3.000000
max    820.000000  62.000000         4.000000

In [72]:
# To get the dimension of the data we use shape, that returns a tuple with number of rows and columns
df.shape

(5, 5)

In [73]:
# To get the information about the number of columns, rows datatype and memory usage we use info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cust_id          5 non-null      object
 1   cred_score       5 non-null      int64
 2   age              5 non-null      int64
 3   debt_status      5 non-null      object
 4   curr_cred_cards  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

### **2.2 Writing and Reading the data**

In [74]:
# What to do if finish analysis and work tomorrow
# Store data in a csv file
df.to_csv("data.csv", index=False)

In [75]:
df1 = pd.read_csv("data.csv")
df1

    cust_id  cred_score  age debt_status  curr_cred_cards
0  cid-0001         650   25     in-debt                3
1  cid-0002         767   28     no-debt                2
2  cid-0003         569   38     no-debt                4
3  cid-0004         453   41     in-debt                1
4  cid-0005         820   62     no-debt                2

In [ ]:
# Alternate, in production, we would get data from Cloud Provide Database ex. BigQuery

In [ ]:
from google.colab import auth
from google.cloud import bigquery
import pandas_gbq
import os

In [ ]:
# Authenticate and set up BigQuery client
service_account_key_path = "ml-pipelines-project.json"

# Set the environment variable to the path of the service account key
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = service_account_key_path

# Initialize BigQuery or other Google Cloud client
client = bigquery.Client()

In [ ]:
# Define project and table details
project_id = "ml-pipelines-project-433602"
dataset_id = "gl_dataset"
table_id = "credit"
table_ref = f"{project_id}.{dataset_id}.{table_id}"

In [ ]:
# Write to BigQuery
pandas_gbq.to_gbq(dataframe=df, destination_table=table_ref, project_id=project_id, if_exists="replace")

In [ ]:
# Read data from BigQuery
df1 = pandas_gbq.read_gbq(f"SELECT * FROM `{table_ref}`", project_id=project_id)

In [ ]:
df1